<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="/assets/logo.png" class="logo">
      <div class="heading">Info</div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card>
    <!-- List of Text Items -->
    <ion-list>
      <ion-item>
        <ion-avatar slot="start">
          <img src="/assets/avatar.svg">
        </ion-avatar>
        <ion-label>John Smith</ion-label>
      </ion-item>
    </ion-list>


    <!-- List of Input Items -->
    <ion-list>
      <ion-item>
        <ion-label style="color: #FFC107;">Age</ion-label>
        <ion-label slot="end">35</ion-label>
      </ion-item>
      <ion-item>
        <ion-label style="color: #FFC107;">Gender</ion-label>
        <ion-label slot="end">Male</ion-label>
      </ion-item>
      <ion-item>
        <ion-label style="color: #FFC107;">Blood Group</ion-label>
        <ion-label slot="end">B+</ion-label>
      </ion-item>
      <ion-item>
        <ion-label style="color: #FFC107;">Current Medications</ion-label>
        <ion-label slot="end">N.A.</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>